<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/viewproducts.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    {{>navbar}}
    <div class="container">
    {{!-- {{categorylist}} --}}
        <h1>View All Products Page</h1>
        {{#each categorylist as |p|}}
        <div class="product-item">
            {{!-- {{p}} --}}
            <div class="img" style="background-image: url({{p.image}});"></div>
            <div class="product-details">
                Name: {{p.name}} <br>
                Price: {{p.price}} <br>
                Description: {{p.description}} <br>
                Seller: {{p.seller_details.username}} <br>
                {{!-- Category: {{p.category.categoryName}} --}}
                {{!-- <img src={{p.image}} alt="Image of Product"> --}}
            </div>
        {{/each}}

    </div>

</body>
</html>